body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}
header nav {
    float: right;
}
/*header section*/
header {
    color: steelblue;
    margin-left: 0px;
    padding: 20px;
    background-color: lightgray;
}

header h1 {
    display: inline-block;
    font-size: 32px;
}

.profile-picture {
    float: left;
    width: 75px;
    height: 75px;
    margin-right: 20px;
}

ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    font-size: 22px;
}

li {
    float: right;
}

a {
    display: block;
    padding: 8px;
    background-color: lightgray;
    color: steelblue;
}

/* Page wrapper for main sections*/
.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: column;
}

/*add flex box to try and format imagery*/
.flexbox-container {
    display: flex;
    ...
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    flex-direction: row;
    padding: 10px;
}

.image-container img {
    flex-basis: 25%;
    flex-wrap: wrap;
    position: relative;
}

.big-image {
   flex-basis: 100%;
}

.big-image img {
    width: 150%;
}

.image-container img,
.small-image img {
    width: 15%;
    height: 20%;
}

@media only screen and (max-width: 768px) {
    .image-container {
        flex-basis: 100%;
    }
}

.contact-section {
    display: flex;
    justify-content: lefcenter;
}

.contact-section ul {
    display:inline-block;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.contact-section li {
    margin: 0 10px;
}
