body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}

section {
    padding: top: 80px;
}

header nav {
    float: right;
}
/*header section*/
header {
    color: steelblue;
    margin-left: 0px;
    padding: 20px;
    background-color: lightgray;
}

header h1 {
    display: inline-block;
    font-size: 32px;
}

.profile-picture {
    float: left;
    width: 75px;
    height: 75px;
    margin-right: 20px;
}

ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    font-size: 22px;
}

li {
    float: right;
}

a {
    display: block;
    padding: 8px;
    background-color: lightgray;
    color: steelblue;
}

.hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Page wrapper for main sections*/
.page-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}
.paragraph-section {
    display: flex; 
    justify-content: center; 
}

.about {
    text-align: start;
    height: auto;
    width: fit-content;
    padding: 100px;
    align-content: center;
    border-right: 100%;
    border-color: steelblue;
}

.paragraph-content {
    text-align: left;
    margin-right: auto;
    padding: 10px;
    height: auto;
    width: fit-content
    justify: right;
    align-content: center;
}

.vl {
    border-left: 3px solid steelblue;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.aboutString{
    margin-right: 5px;
}

/*add flex box container for sections*/
.flexbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    ...
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 10px;
    flex-direction: row;
    padding: 10px;
    
}

/*added gallery class to group images together inside the flexbox container*/
.gallery-section {
    display: flex; 
    justify-content: center;
    padding-left: 10px;
}

 .gallery img {
    width: 100%;
    height: 500px;
    flex-flow: row wrap;
    justify-content: center;
 }

.gallery ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding-right: px;

}

.gallery li {
    margin: 0 10px;
    width: 40%;
 }

/* Added media queries for smaller screens*/
@media only screen and (max-width: 768px) {
    .container {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .gallery {
        flex-basis: 100%;
    }
}

.contact section {
    display: flex; 
    justify-content: center;
    text-align: start;
    height: auto;
    width: fit-content;
    padding: 100px;
    align-content: center;
    border-style: solid;
    border-color: steelblue;
}

.verticalLine {
    border-left: 2px solid steelblue;
    height: 20px;
}

.contact section ul {
    display:inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
    padding: 20px;
}

contact section li {
    
}
